@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  margin: 0;
}

body {
  background-color: #EDD5C9;
}

#title {
  color: #545266;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  text-align: center;
}

.color {
  border: solid black 1px;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius:4px;
}

#pixel-board {
  display: inline-block;
}

.pixel {
  display: table-cell;
  background-color: white;
  width: 40px;
  height: 40px;
  border: solid black 1px;
  cursor: pointer;
}

main {
  text-align: center;
}

p {
  text-align: center;
  padding-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  display: block;
  position: static;
  padding-top: 50px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}