#title {
  color: brown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  text-align: center;
}
.color {
  border: solid black 1px;
  display: inline-block;
  color: #FFB46E;
}